
<div>
    <h2><span>Consultation</span> {{vm.consultation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Date Time</span></dt>
        <dd>
            <span>{{vm.consultation.dateTime | date:'medium'}}</span>
        </dd>
        <dt><span>Cancelled</span></dt>
        <dd>
            <span>{{vm.consultation.cancelled?'YES':'NO'}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{vm.consultation.description}}</span>
        </dd>
        <dt><span>Teacher</span></dt>
        <dd>
            {{vm.getName(vm.teacher)}}
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            {{vm.consultation.address}}
        </dd>
        <dt><span>Registered Students</span></dt>
        <dd>
            <ul class="list-group">
                <li class="list-group-item" ng-class="student.login === vm.account.login? 'self-account' : ''"
                    ng-repeat="student in vm.consultation.registeredStudents">
                    {{vm.getName(student)}}
                </li>
            </ul>
        </dd>
    </dl>

    <div class="col-xs-8">
        <div class="alert alert-success" ng-if="vm.success !== null">
            <strong>{{vm.success}}</strong>
        </div>
        <div class="alert alert-danger" ng-if="vm.error !== null">
            <strong>{{vm.error}}</strong>
        </div>
    </div>
    <div class="clearfix"></div>

    <div style="margin-bottom: 40px;" ng-switch="vm.isBookedIn()" has-authority="ROLE_STUDENT">
        <button ng-switch-when="false" type="button" ng-click="vm.bookIn()" class="btn btn-success">Book in</button>
        <button ng-switch-when="true" type="button" ng-click="vm.bookOut()" class="btn btn-danger">Book out</button>
    </div>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="consultation-detail.edit({id:vm.consultation.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>

    <button type="button" class="btn btn-danger" has-authority="ROLE_TEACHER" ng-disabled="vm.consultation.cancelled" ng-click="vm.makeCancel()">
        <span class="glyphicon glyphicon-backward"></span>
        <span class="hidden-xs hidden-sm"> Cancel</span>
    </button>

</div>
