<div>
    <h2>Consultations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left" has-any-authority="ROLE_TEACHER,ROLE_ADMIN">
                <button class="btn btn-primary" ui-sref="consultation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>
                        Create new Consultation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateTime"><span>Date Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cancelled"><span>Cancelled</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="teacherLogin"><span>Teacher</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consultation in vm.consultations track by consultation.id">
                    <td><a ui-sref="consultation-detail({id:consultation.id})">{{consultation.id}}</a></td>
                    <td>{{consultation.dateTime | date:'medium'}}</td>
                    <td>{{consultation.cancelled}}</td>
                    <td>
                        {{consultation.teacherLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="consultation-detail({id:consultation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consultation.edit({id:consultation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="consultation.delete({id:consultation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
